
@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("LoginForm", "Account", FormMethod.Post))
{
    <h2>Login</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label>User name</label>
            <input type="text" name="username" class="form-control" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" />
        </div>
        <div class="form-control">
            <input type="submit" class="btn btn-primary" value="Đăng nhập"/>
        </div>
    </div>    
    <div class="col-md-4"></div>
}

